 <!-- ======= About Section ======= -->
 <section id="about" class="about-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-sm-6 col-md-5">
                    <div class="about-img">
                      <img src="assets/img/vijayender.png" style="max-width:150px" class="img-fluid rounded b-shadow-a" alt="Expert UI/UX Designer | Vijayender Thakur">
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-7">
                    <div class="about-info">
                      <p><span class="title-s">Name: </span> <span>vijayender Thakur</span></p>
                      <p><span class="title-s">Profile: </span> <span>UI/UX Developer</span></p>
                      <p><span class="title-s">Email: </span> <span>thakurvijayender@gmail.com</span></p>
                      <p><span class="title-s">Phone: </span> <span>+91 7814539388</span></p>
                    </div>
                  </div>
                </div>
                <div class="skill-mf">
                  <p class="title-s">Skill</p>
                  <span>HTML/CSS</span> <span class="pull-right">90%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width:90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <span>Adobe Photoshop/ Adobe XD / Figma</span> <span class="pull-right">75%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <span>Angular</span> <span class="pull-right">50%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <span>JAVASCRIPT</span> <span class="pull-right">60%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <span>Wordpress/Shopify</span> <span class="pull-right">75%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="about-me pt-4 pt-md-0">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      About me
                    </h5>
                  </div>
                  <p class="lead">
                    I love to design Ideas and turn it into something creating and useful that helps people understand the web world. Here is my dribbble portfolio to make you understand more easy about my Work and passion. 

                    

                   
                  </p>
                  <p class="lead">
                    I love learning new technologies and improving with everyday market needs which makes me more dynamic to the
                    product designs. It's been more than 6+ years working with UI/UX and I never felt bore a single day. With every day I improvise my self and
                    adopt skills with every tool which makes every little detail and process smooth with my work.
                  </p>
                  <p class="lead">
                    I do wireframes and Designs for Web/App and Brands. Also, I am quite handy with front end development tools like
                    HTML/Bootstrap, JavaScript and Angular with Shopify/WordPress e-commerce platforms. Do you have any Project Idea? Please email me at <a href="mailto:thakurvijayernder@gmail.com">thakurvijayernder@gmail.com</a>. I will definitely assist you with best of my knowledge.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End About Section -->