<!-- ======= Contact Section ======= -->
<section class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url(assets/img/overlay-bg.jpg)">
    <div class=" "></div> <!-- overlay-mf -->
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="contact-mf">
            <div id="contact" class="box-shadow-full">
              <div class="row">
                <div class="col-md-6 position-static">
                  <div class="formPlaceholderImg">
                    <img src="assets/img/contactImg.png" />
                  </div>
                  <!-- <div class="title-box-2">
                    <h5 class="title-left">
                      Send Message Us
                    </h5>  
                  </div>
                  <div>
                     <form  (ngSubmit)="processForm()" role="form" class="php-email-form">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Full Name" [(ngModel)]="fullName" required/>
                            
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" [(ngModel)]="email"  required />                            
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" [(ngModel)]="subject" required />                             
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" placeholder="Message" [(ngModel)]="message" required ></textarea>
                             
                          </div>
                        </div>
                        <div class="col-md-12 text-center">
                          <div class="loading">Loading</div>
                          <div class="error-message"></div>
                          <div class="sent-message">Your message has been sent. Thank you!</div>
                        </div>
                        <div class="col-md-12 text-center">
                          <button type="submit" class="button button-a button-big button-rouded">Send Message</button>
                        </div>
                      </div>
                    </form> 
                  </div> -->
                </div>
                <div class="col-md-6">
                  <div class="title-box-2 pt-4 pt-md-0">
                    <h5 class="title-left">
                      Get in Touch
                    </h5>
                  </div>
                  <div class="more-info">
                    <p class="lead">
                      I am well experienced in my skills. If you're looking to Hire me or to interact with me please feel free to reach out with following contact details.
                    </p>
                    <ul class="list-ico">
                      <li><span class="ion-ios-location"></span> Bilaspur, Himachal Pradesh, INDIA</li>
                      <li><span class="ion-ios-telephone"></span> +91 7814539388</li>
                      <li><span class="ion-email"></span> thakurvijayender@gmail.com</li>
                    </ul>
                  </div>
                  <div class="socials no-circle">
                    <ul>
                      <li><a target="blank_" href="https://www.facebook.com/vijayender.thakur1/"><span class=""><i class="ion-social-facebook"></i></span></a></li>
                      <li><a target="blank_" href="https://www.instagram.com/beingthakur1/"><span class=""><i class="ion-social-instagram"></i></span></a></li>
                      <li><a target="blank_" href="https://in.linkedin.com/in/vijayenderthakur"><span class=""><i class="ion-social-linkedin-outline"></i></span></a></li>
                      <li><a target="blank_" href="https://dribbble.com/vijayenderthakur"><span class=""><i class="ion-social-dribbble"></i></span></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Contact Section -->