<!-- ======= Portfolio Section ======= -->
<section id="work" class="portfolio-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Portfolio
            </h3>
            <p class="subtitle-a">
              View Some of my Work !!
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="work-box">
            <a href="assets/img/work-1.jpg" data-gall="portfolioGallery" class="venobox">
              <div class="work-img">
                <img src="assets/img/work-1.jpg" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">NUTRULIA</h2>
                  <div class="w-more">
                    <span class="w-ctegory">Brand Design</span> / <span class="w-date">18 Aug. 2020</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="w-like">
                    <a href="portfolio-details.html"> <span class="ion-ios-plus-outline"></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="assets/img/work-2.jpg" data-gall="portfolioGallery" class="venobox">
              <div class="work-img">
                <img src="assets/img/work-2.jpg" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">JBA | Design Hub</h2>
                  <div class="w-more">
                    <span class="w-ctegory">Brand Design</span> / <span class="w-date">29 Jul. 2018</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="w-like">
                    <a href="portfolio-details.html"> <span class="ion-ios-plus-outline"></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="assets/img/work-3.jpg" data-gall="portfolioGallery" class="venobox">
              <div class="work-img">
                <img src="assets/img/work-3.jpg" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">YONATTY</h2>
                  <div class="w-more">
                    <span class="w-ctegory">Brand/Web Design</span> / <span class="w-date">19 Jul. 2020</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="w-like">
                    <a href="portfolio-details.html"> <span class="ion-ios-plus-outline"></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="assets/img/work-4.jpg" data-gall="portfolioGallery" class="venobox">
              <div class="work-img">
                <img src="assets/img/work-4.jpg" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">GAME SWIPE</h2>
                  <div class="w-more">
                    <span class="w-ctegory">App UI Design</span> / <span class="w-date">18 June. 2020</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="w-like">
                    <a href="portfolio-details.html"> <span class="ion-ios-plus-outline"></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="assets/img/real-estatelogo-by-vijayender.jpg" data-gall="portfolioGallery" class="venobox">
              <div class="work-img">
                <img src="assets/img/real-estatelogo-by-vijayender.jpg" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">GEMINI ESTATE</h2>
                  <div class="w-more">
                    <span class="w-ctegory">Brand Design</span> / <span class="w-date">18 Jul. 2020</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="w-like">
                    <a href="portfolio-details.html"> <span class="ion-ios-plus-outline"></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="assets/img/career-branding-by-vijayender.jpg" data-gall="portfolioGallery" class="venobox">
              <div class="work-img">
                <img src="assets/img/career-branding-by-vijayender.jpg" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">WISDOME | Job Portal</h2>
                  <div class="w-more">
                    <span class="w-ctegory">Brand/Web Design</span> / <span class="w-date">10 May 2020</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="w-like">
                    <a href="portfolio-details.html"> <span class="ion-ios-plus-outline"></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section><!-- End Portfolio Section -->