<!-- ======= Portfolio Section ======= -->
<section id="work" class="portfolio-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Portfolio
            </h3>
            <p class="subtitle-a">
              View Some of my Work !!
            </p>
            <div class="line-mf"></div>  
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="work-box">
            <a href="assets/img/work-1.jpg" data-gall="portfolioGallery" data-title="Nutrulia" class="venobox">
              <div class="work-img">
                <img src="assets/img/work-1.jpg" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-12">
                  <h2 class="w-title float-left">NUTRULIA</h2>
                  <div class="w-more float-right">
                    <span class="w-ctegory">Brand Design</span> <br /> <span class="w-date">18 Aug. 2020</span>
                  </div>
                  <div class="w-tools">
                    <span><strong>Tools</strong> : Adobe Illustrator, Figma </span>
                    <span><strong>Tech</strong> : <small>Graphic Only</small></span>
                 </div>
                </div>
                 
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="assets/img/work-2.jpg" data-gall="portfolioGallery" data-title="JBA" class="venobox">
              <div class="work-img">
                <img src="assets/img/work-2.jpg" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-12">
                  <h2 class="w-title">JBA | Design Hub</h2>
                  <div class="w-more">
                    <span class="w-ctegory">Brand Design</span> <br /> <span class="w-date">Jul. 2020</span>
                  </div>
                  <div class="w-tools">
                    <span><strong>Tools</strong> : Adobe Illustrator, Adobe Photoshop, Figma </span>
                    <span><strong>Tech</strong> : <small>Graphic Only</small></span>
                 </div>
                </div>
                 
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="assets/img/work-3.jpg" data-gall="portfolioGallery" class="venobox">
              <div class="work-img">
                <img src="assets/img/work-3.jpg" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-12">
                  <h2 class="w-title">YONATTY</h2>
                  <div class="w-more">
                    <span class="w-ctegory">Brand Design</span> <br /> <span class="w-date">August 2020</span>
                  </div>
                  <div class="w-tools">
                    <span><strong>Tools</strong> : Adobe Illustrator, Adobe Photoshop, Figma </span>
                    <span><strong>Tech</strong> : <small>Graphic Only</small></span>
                 </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="assets/img/work-4.jpg" data-gall="portfolioGallery" class="venobox">
              <div class="work-img">
                <img src="assets/img/work-4.jpg" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-12">
                  <h2 class="w-title">GAME SWIPE</h2>
                  <div class="w-more">
                    <span class="w-ctegory">App UI Design</span> <br /> <span class="w-date">Nov. 2019</span>
                  </div>
                  <div class="w-tools">
                    <span><strong>Tools</strong> : Adobe Photoshop, Adobe XD, Figma </span>
                    <span><strong>Tech</strong> : InVision</span>
                 </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="assets/img/real-estatelogo-by-vijayender.jpg" data-gall="portfolioGallery" class="venobox">
              <div class="work-img">
                <img src="assets/img/real-estatelogo-by-vijayender.jpg" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-12">
                  <h2 class="w-title">GEMINI ESTATE</h2>
                  <div class="w-more">
                    <span class="w-ctegory">Brand Design</span> <br /><span class="w-date">Sept. 2018</span>
                  </div>
                  <div class="w-tools">
                    <span><strong>Tools</strong> : Adobe Photoshop, Adobe Illustrator </span>
                    <span><strong>Tech</strong> : <small>Graphics Only</small></span>
                 </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="work-box">
            <a href="assets/img/career-branding-by-vijayender.jpg" data-gall="portfolioGallery" class="venobox">
              <div class="work-img">
                <img src="assets/img/career-branding-by-vijayender.jpg" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-12">
                  <h2 class="w-title">WISDOME | Job Portal</h2>
                  <div class="w-more">
                    <span class="w-ctegory">Brand/Web Design</span> <br /> <span class="w-date"> Jan 2017</span>
                  </div>
                  <div class="w-tools">
                    <span><strong>Tools</strong> : Adobe Photoshop, Adobe Illustrator </span>
                    <span><strong>Tech</strong> : <small>Graphics Only</small></span>
                 </div>
                </div>
                
              </div>
            </div>
          </div>
        </div> <!-- =============== portfolio Grid Ends -->

        <div class="col-md-4">
          <div class="work-box">
            <a href="assets/img/work-5.jpg" data-gall="portfolioGallery" class="venobox">
              <div class="work-img">
                <img src="assets/img/work-5.jpg" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-12">
                  <h2 class="w-title">Live Wallpaper APP</h2>
                  <div class="w-more">
                    <span class="w-ctegory">App UI</span> <br /> <span class="w-date"> Aug 2019</span>
                  </div>
                  <div class="w-tools">
                    <span><strong>Tools</strong> : Adobe Photoshop, Adobe XD, Figma </span>
                    <span><strong>Tech</strong> : <small>Graphics Only</small></span>
                    <!-- <a href="https://madoldnut.com/" target="blank_"><b>Link : </b> <small>https://madoldnut.com/</small></a> -->
                 </div>
                </div>
                
              </div>
            </div>
          </div>
        </div> <!-- =============== portfolio Grid Ends -->

        <div class="col-md-4">
          <div class="work-box">
            <a href="assets/img/web-mad-UiDesign.jpg" data-gall="portfolioGallery" class="venobox">
              <div class="work-img">
                <img src="assets/img/web-mad-UiDesign.jpg" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-12">
                  <h2 class="w-title">MADOLD-NUT</h2>
                  <div class="w-more">
                    <span class="w-ctegory">UI/UX Design</span> <br /> <span class="w-date"> Feb 2017</span>
                  </div>
                  <div class="w-tools">
                    <span><strong>Tools</strong> : Adobe Photoshop </span>
                    <span><strong>Tech</strong> : HTML, CSS, Bootstrap, Shopify</span>
                    <a href="https://madoldnut.com/" target="blank_"><b>Link : </b> <small>https://madoldnut.com/</small></a>
                 </div>
                </div>
                
              </div>
            </div>
          </div>
        </div> <!-- =============== portfolio Grid Ends -->

        <div class="col-md-4">
          <div class="work-box">
            <a href="assets/img/work-8.jpg" data-gall="portfolioGallery" class="venobox">
              <div class="work-img">
                <img src="assets/img/work-8.jpg" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-12">
                  <h2 class="w-title">Music Connect People</h2>
                  <div class="w-more">
                    <span class="w-ctegory">UI/UX Design</span> <br /> <span class="w-date"> March 2016</span>
                  </div>
                  <div class="w-tools">
                    <span><strong>Tools</strong> : Adobe Photoshop </span>
                    <span><strong>Tech</strong> : HTML, CSS, Bootstrap, Shopify</span>
                    <span><strong>Link</strong> : <small>Link Removed</small></span>
                    <!-- <a href="https://madoldnut.com/" target="blank_"><b>Link : </b> <small>https://madoldnut.com/</small></a> -->
                 </div>
                </div>
                
              </div>
            </div>
          </div>
        </div> <!-- =============== portfolio Grid Ends -->

        <div class="col-md-4">
          <div class="work-box">
            <a href="assets/img/work-9.jpg" data-gall="portfolioGallery" class="venobox">
              <div class="work-img">
                <img src="assets/img/work-9.jpg" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-12">
                  <h2 class="w-title">Seven Minerals</h2>
                  <div class="w-more">
                    <span class="w-ctegory">UI/UX Design</span> <br /> <span class="w-date"> Dec 2016</span>
                  </div>
                  <div class="w-tools">
                    <span><strong>Tools</strong> : Adobe Photoshop, Adobe Illustrator </span>
                    <span><strong>Tech</strong> : HTML, CSS, Bootstrap, Shopify</span>                  
                    <a href="https://www.sevenminerals.com/" target="blank_"><b>Link : </b> <small>https://www.sevenminerals.com/</small></a>
                 </div>
                </div>
                
              </div>
            </div>
          </div>
        </div> <!-- =============== portfolio Grid Ends -->

        <div class="col-md-4">
          <div class="work-box">
            <a href="assets/img/work-10.jpg" data-gall="portfolioGallery" class="venobox">
              <div class="work-img">
                <img src="assets/img/work-10.jpg" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-12">
                  <h2 class="w-title">AA Creative Designs</h2>
                  <div class="w-more">
                    <span class="w-ctegory">UI/UX Design</span> <br /> <span class="w-date"> Apr 2017</span>
                  </div>
                  <div class="w-tools">
                    <span><strong>Tools</strong> : Adobe Photoshop, Adobe Illustrator </span>
                    <span><strong>Tech</strong> : HTML, CSS, Bootstrap, Shopify</span>                  
                    <a href="https://aacreativedesigns.com/" target="blank_"><b>Link : </b> <small>https://aacreativedesigns.com/</small></a>
                 </div>
                </div>
                
              </div>
            </div>
          </div>
        </div> <!-- =============== portfolio Grid Ends -->

        <div class="col-md-4">
          <div class="work-box">
            <a href="assets/img/work-11.jpg" data-gall="portfolioGallery" class="venobox">
              <div class="work-img">
                <img src="assets/img/work-11.jpg" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-12">
                  <h2 class="w-title">Servicious Para</h2>
                  <div class="w-more">
                    <span class="w-ctegory">Product Branding</span> <br /> <span class="w-date"> Apr 2017</span>
                  </div>
                  <div class="w-tools">
                    <span><strong>Tools</strong> : Adobe Photoshop, Adobe Illustrator </span>
                    <span><strong>Tech</strong> : <small>Graphics Only</small></span>             
                     
                 </div>
                </div>
                
              </div>
            </div>
          </div>
        </div> <!-- =============== portfolio Grid Ends -->

        <div class="col-md-4">
          <div class="work-box">
            <a href="assets/img/work-12.jpg" data-gall="portfolioGallery" class="venobox">
              <div class="work-img">
                <img src="assets/img/work-12.jpg" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-12">
                  <h2 class="w-title">Eikon Shipping Co.</h2>
                  <div class="w-more">
                    <span class="w-ctegory">Web Design</span> <br /> <span class="w-date"> Nov 2017</span>
                  </div>
                  <div class="w-tools">
                    <span><strong>Tools</strong> : Adobe Photoshop </span>
                    <span><strong>Tech</strong> : HTML, CSS, Bootstrap, Wordpress</span>   
                    <span><strong>Tech</strong> : <small>No Link Found</small></span>               
                     
                 </div>
                </div>
                
              </div>
            </div>
          </div>
        </div> <!-- =============== portfolio Grid Ends -->

        <div class="col-md-4">
          <div class="work-box">
            <a href="assets/img/work-7.jpg" data-gall="portfolioGallery" class="venobox">
              <div class="work-img">
                <img src="assets/img/work-7.jpg" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-12">
                  <h2 class="w-title">CultureMaze Co.</h2>
                  <div class="w-more">
                    <span class="w-ctegory">Logo Design</span> <br /> <span class="w-date"> Dec 2017</span>
                  </div>
                  <div class="w-tools">
                    <span><strong>Tools</strong> : Adobe Photoshop, Adobe Illustrator </span>                      
                    <span><strong>Tech</strong> : <small>Graphic Only</small></span>               
                     
                 </div>
                </div>
                
              </div>
            </div>
          </div>
        </div> <!-- =============== portfolio Grid Ends -->

        <div class="col-md-4">
          <div class="work-box">
            <a href="assets/img/work6.jpg" data-gall="portfolioGallery" class="venobox">
              <div class="work-img">
                <img src="assets/img/work6.jpg" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-12">
                  <h2 class="w-title">Word Swipe Fun</h2>
                  <div class="w-more">
                    <span class="w-ctegory">Game UI</span> <br /> <span class="w-date"> Dec 2017</span>
                  </div>
                  <div class="w-tools">
                    <span><strong>Tools</strong> : Adobe Photoshop, Adobe Illustrator, Adobe XD </span>                      
                    <span><strong>Tech</strong> : <small>Graphic Only</small></span>               
                     
                 </div>
                </div>
                
              </div>
            </div>
          </div>
        </div> <!-- =============== portfolio Grid Ends -->

      </div>
    </div>
  </section><!-- End Portfolio Section -->