<!-- ======= Services Section ======= -->
<section id="service" class="services-mf pt-5 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Services
            </h3>
            <p class="subtitle-a">
             All Digital Design Services and Solutions !!
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-monitor"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Web Design</h2>
              <p class="s-description text-center">
                Whether its Website or app, Businesses are moving to digital world quickly. I design creative and powerful business solution quick and Unique using latest collaborative tools like Figma/XD/Sketch and PS. 
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-code-working"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Web Development</h2>
              <p class="s-description text-center">
                Looking good is not everything for business. You should also posses strong hold to your Product and Data. I will provide you full data hold with secure development platforms like PHP, AngularJs And ReactJs.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-android-phone-portrait"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">App Designs</h2>
              <p class="s-description text-center">
                Moving to Mobile from Desktop is like increasing your audience by +70%. Your customers are on mobile now so if you are planing to move into App I have solution from creating wire-frame flow to full app design .
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-android-phone-landscape"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Responsive Design</h2>
              <p class="s-description text-center">
                You Already owned a website full of content and looking to switch into mobile responsive solution. I can do any old/New website mobile/tab friendly. I work with all responsive frameworks like Bootstrap/Foundation/Boilerplates/Timber and custom.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-paintbrush"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Product Design</h2>
              <p class="s-description text-center">
                Get your product a digital look and convert into Brand. I am expert in designing product design, Brand Identity, Social Media Ads, Banner Templates, Business cards, Image Editing and Complete Website/App interface design.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-android-cart"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">E-commerce</h2>
              <p class="s-description text-center">
                If you own product and looking to reach out of certain Zone then its time to get your business online. I work with most reliable E-commerce solutions like WordPress and Shopify. Both provide easy User interface and Experience for Client and Customer.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Services Section -->